.recipes {
   background-color: cornsilk;
   width: 720px;
   display: grid;
   margin: 0 auto 20px;
   padding: 0 20px;
   justify-items: center;
}

.recipe {
   background-color: aquamarine;
   width: 670px;
   margin: 20px;
   padding: 10px
}
