.categories {
   background-color: cornsilk;
   width: 720px;
   display: block;
   margin: 0 auto;
   padding: 20px
}

.buttons {
  margin-left: 50px
}

.container {
  background-color: lightcyan;
  
}

.category {
   background-color: lavender;
   display: block;
   width: 670px;
   margin: 0 auto 20px;
   padding: 10px
}
